---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"
import Whatsapp from "../components/icons/Whatsapp.astro";
import Callme from "../components/icons/Callme.astro";



const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1"></div>
    <div class="text-5xl font-bold">Dra. Celeste Cuevas</div>
    <div class="text-3xl py-3 font-bold">Psiquiatra</div>
    <div class="py-2">
      <text class="text-lg">
        Soy la <strong>Dra. Celeste Cueves</strong> y estoy aquí para ofrecerte el apoyo que necesitas en tu viaje hacia la salud mental y el equilibrio emocional.       
      </text>
    </div>
    <div class="mt-8">
      <div class="flex flex-wrap gap-x-4">
        <a 
          href="https://wa.me/595992314501" 
          target="_blank" 
          class="mb-4 md:mb-0
              bg-green-500  
              hover:bg-green-700 
              text-white 
              font-bold 
              py-2 px-4 
              rounded-xl 
              border border-green-700
              flex items-center justify-center w-full md:w-auto" 
          rel="noopener noreferrer">
          H&aacute;blame por Whatsapp <Whatsapp class="w-6 h-6 inline-block" />
        </a>
        <a 
          href="tel:+595992314501" 
          target="_blank" 
          class="
            bg-gray-700 
            hover:bg-gray-900 
            text-white font-bold 
            py-2 px-4 
            rounded-xl border 
            border-gray-700 flex items-center justify-center w-full md:w-auto" 
          rel="noopener noreferrer">
          Ll&aacute;mame  <Callme class="w-5 h-5 inline-block" /> 
        </a>
      </div>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Especialidad</div>
  </div>

  <HorizontalCard
    title="Ansiedad"
    img="/ansiedad.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Depresi&oacute;n"
    img="/depresion.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Bipolaridad"
    img="/bipolaridad.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Psiquiatría de niños y adolescentes"
    img="/adolecentes.webp"
    desc="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    url="#"
    
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Hablemos de Psiquiatria</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
